/*** Style Definitions ***/ 
 html       { background:#FFF; font-family:Arial, Helvetica, sans-serif; }  
 ul{
	list-style-type: none;
 }
    
 /*** Header ***/ 
 #logo  {
	background:url(../images_small/logo.jpg) top center no-repeat;
	height:42px;
	width:100%;
	text-indent:-9999px;
	top:0px;
	float: left;px
}  
    
 #menu{
	width: 95%;
	margin: 0px;
	padding-top: 3px;
	padding-left: 0px;
	background-color: #90088a;
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	z-index:10;
}  
    
 #menu a  { color:#ff87fa; border:#AAA 2px solid;  text-decoration:none; padding:2px;  
                         margin-right:0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}  
    
 #menu a:hover        { background:#67b2ff; color:#ff7c7c; border:#FFF 2px solid; text-decoration:none; padding:2px;  
                         margin-right:0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}  
    
 #menu li            {
	float:left;
	height:30px;
	width: 20%;
	padding-top: 2px;
}  
a{
text-decoration:none;
}    
 /*** Body Content ***/ 
 #wrapper    {
	width:100%;
	position:absolute;
	top:0px;
	left:0;

	 margin:0
}  
 #wrapper ul{
	margin:0px;
	padding:0px;
 }
 #mask        { width:100%; height:400%;  margin:0}  
    
 .box        {
	width:100%;
	float:left;
	height: 25%;
	margin:0;
	padding:0;
	padding-top:80px;
}  
    
 .content    { width:100%; height:400px; top:0px; margin: 0 auto; position:relative; background:rgba(0,0,0, 0);  
                 border-radius:35px; -moz-border-radius:35px; -webkit-border-radius:35px; }  
    
 .inner        { width:90%; height:360px; background:rgba(0, 0, 0, 0); border-radius:30px; -moz-border-radius:30px;  
                     -webkit-border-radius:30px; margin:5px; padding:15px; top:0px; position:relative; } 
					 
/*** Clouds ***/ 
.clouds        { width:100%; height:524px; overflow:hidden; }  
#clouds-small    { width:100%; height:3000px; background:url(../images_small/bg-clouds-small.png) repeat-y;}  
#cloud2        { position:relative; top:-524px; }  
#clouds-big    { width:100%; height:4000px; background:url(../images_small/bg-clouds-big.png) repeat-y;} 		
#menu a.selected {background:#67b2ff;color:#ffffff; border:#FFF 2px solid; text-decoration:none;padding:2px;margin-right:1px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; } 			 
#header {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	float: left;
	background-color:#FFFFFF;
	position:fixed;
	z-index:9999;
}
#header #menunav {
	display:none;
	margin-top: 5px;
	font-weight: bold;
	color: #650c61;
	margin-right: auto;
	margin-left: auto;
}
#header #logodiv ul{

clear:left;
 
}
#header #menunav li {
	float: left;
	width: 90px;
}
#main {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin:0;
	padding:0;
}
.clear {
	clear: both;
	float: left;
	height: 0px;
	width: 100%;
}
.menudiv {
	width: 100%;
	background-color: #90088a;
	clear: both;
	float: left;
}
#logodiv {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#box1 .content .inner .img {
	background-image: url(../images_small/box1bg.jpg);
}
#box1 .content {
	background-image: url(../images_small/box1bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
#box1 .content .inner .title {
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}
#box1 .content .inner .subtitle {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#box1 .content .inner .detail {
	text-align: center;
}
#box1 .buy ul{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}
#box1 .buy ul li{
	width:100px;

	float:left;
}
#box1 .buy ul#moneyul{
	width:120px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding-top:10px;
}
#box1 .buy ul#moneyul li{
	width:120px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding-top:10px;
}
#box2 .content .inner .subtitle li a{
	float: left;
	height: 120px;
	width: 120px;
	text-indent:-999em;
}
#box2 .content .inner .subtitle ul {
	clear: both;
	width:90%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#box2 .content .inner .title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}
#box2 .content .inner .subtitle .peizhi1  a{
	background-image: url(../images_small/peizhi1.jpg);
	background-repeat: no-repeat;
}
#box2 .content .inner .subtitle .peizhi2  a{
	background-image: url(../images_small/peizhi2.jpg);
	background-repeat: no-repeat;
}
#box2 .content .inner .subtitle .peizhi3 a{
	background-image: url(../images_small/peizhi3.jpg);
	background-repeat: no-repeat;
}
#box2 .content .inner .subtitle .peizhi4 a{
	background-image: url(../images_small/peizhi4.jpg);
	background-repeat: no-repeat;
}
#box2 .content .inner .subtitle .peizhi5 a{
	background-image: url(../images_small/peizhi5.jpg);
	background-repeat: no-repeat;
}
#box2 .content .inner .subtitle {
	margin-top: 8px;
}




/** **/
#box3 .content .inner .subtitle li a{
	float: left;
	height: 120px;
	width: 120px;
	text-indent:-999em;
}
#box3 .content .inner .subtitle ul {
	clear: both;
	width:90%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
#box3 .content .inner .title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}
#box3 .content .inner .subtitle .yjpeizhi1  a{
	background-image: url(../images_small/yjpeizhi1.jpg);
	background-repeat: no-repeat;
}
#box3 .content .inner .subtitle .yjpeizhi2  a{
	background-image: url(../images_small/yjpeizhi2.jpg);
	background-repeat: no-repeat;
}
#box3 .content .inner .subtitle .yjpeizhi3 a{
	background-image: url(../images_small/yjpeizhi3.jpg);
	background-repeat: no-repeat;
}
#box3 .content .inner .subtitle .yjpeizhi4 a{
	background-image: url(../images_small/yjpeizhi4.jpg);
	background-repeat: no-repeat;
}
#box3 .content .inner .subtitle .yjpeizhi5 a{
	background-image: url(../images_small/yjpeizhi5.jpg);
	background-repeat: no-repeat;
}
#box3 .content .inner .subtitle {
	margin-top: 10px;
}
#box3 .content .inner .detail {
	float:left;
	clear:left;
}



#box4 .content .inner .title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}#box4 .content .inner .detail {
	background-image: url(../images_small/bank.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#box4 .content .inner .detail table {
	visibility: hidden;
}


#box5 .content .inner .title {
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}
#box5 .content .inner .subtitle {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#box5 .content .inner .detail ul {
	margin:0;
}
#box5 .content .inner .detail li a{
	width:128px;
	height:125px;
	float:left;
	text-indent:-999em;
}
#box5 .content .inner .detail .peijian1  a{
	background-image: url(../images_small/peijian1.jpg);
	background-repeat: no-repeat;
}
#box5 .content .inner .detail .peijian2  a{
	background-image: url(../images_small/peijian2.jpg);
	background-repeat: no-repeat;
}
#box5 .content .inner .detail .peijian3 a{
	background-image: url(../images_small/peijian3.jpg);
	background-repeat: no-repeat;
}
#box5 .content .inner .detail .peijian4 a{
	background-image: url(../images_small/peijian4.jpg);
	background-repeat: no-repeat;
}



#box6 .content .inner .title {
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}




#box21 .content{
	
	background-image: url(../images_small/weimeiaccount.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box21 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box21 .content .inner .subtitle {
	font-weight: bolder;
	text-align: center;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box21 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}


#box22 .content{
	
	background-image: url(../images_small/weimeiitembook.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box22 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:0px;

}
#box22 .content .inner .subtitle {
	margin-left:10px;
	clear:left;
	font-weight: bolder;
	float:left;
	clear:both;
	padding-top:10px;

}
#box22 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}


#box23 .content{
	
	background-image: url(../images_small/weimeibook.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box23 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:0px;

}
#box23 .content .inner .subtitle {
	font-weight: bolder;
	float:left;
	clear:both;
	padding-top:10px;
	margin-left:10px;

}
#box23 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:3px;

}

#box24 .content{
	
	background-image: url(../images_small/weimeividio.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box24 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:0px;

}
#box24 .content .inner .subtitle {
	font-weight: bolder;
	text-align: center;
	float:left;
	clear:both;
	padding-top:5px;
	margin-left:10px;

}
#box24 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;
	

}


#box25 .content{
	
	background-image: url(../images_small/weimeishop.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box25 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box25 .content .inner .subtitle {
	font-weight: bolder;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box25 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}

#box26 .content{
	
	background-image: url(../images_small/zengzhi.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box26 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:0px;

}
#box26 .content .inner .subtitle {
	font-weight: bolder;
	float:left;
	clear:left;
	padding-top:5px;
	margin-left:10px;

}
#box26 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;
	

}

#box27 .content{
	
	background-image: url(../images_small/weimeiservice.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	}
	
#box27 .content .inner .title {
	font-size: 36px;
	font-weight: bolder;
	float:left;;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box27 .content .inner .subtitle {
	font-weight: bolder;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;

}
#box27 .content .inner .detail {
	font-size:12px;
	text-align: left;
	float:left;
	clear:both;
	margin-left:10px;
	padding-top:10px;
	line-height:18px;

}
#KeFuDiv{
display:none;
}